.graphics {
  width: auto;
  height: 300px;
  object-fit: cover;
}

.details {
  background-color: #a50e63;
  border-radius: 0 0 5px 5px;
  min-height: 1rem;
}

.countryname {
  color: rgb(211, 214, 216);
  text-align: center;
  padding-bottom: 30px;
}

.color {
  color: aliceblue;
  text-align: center;
  font-size: 25px;
}

.fa-solid {
  position: relative;
  left: 238px;
  color: rgb(171, 161, 149);
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  object-fit: cover;
  gap: 25px;
  background-color: #b9277c;
}

.flags {
  display: flex;
  flex-direction: column;
}

button {
  border: none;
  width: 498px;
  background-color: #b9277c;
}

button:hover {
  z-index: 2;
  transform: scale(1.3);
  transition: 1s;
}

.arrow {
  background-color: white;
  border-radius: 2px;
}

.sec {
  display: flex;
  color: white;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: rgb(182, 181, 181);
  padding-top: 5px;
  padding-bottom: 5px;
  gap: 5px;
}
